
header {
    text-align: center;
}

hr {
    border-bottom: #6b6a6a;
}

.coffee {
    margin: 30px;
    display: flex;
    align-items: baseline;
}

.roast {
    margin: 16px;
}

form {
    display: flex;
    flex-direction: column;
}


.form-container {
<<<<<<< HEAD
=======
    background: pink;
    display: flex;

>>>>>>> 595e5d8064ff90e9bfd56bf74dd4f60881ccafe7
}

.main-container {
    display: flex;
}

.coffee-name {
    font-size: x-large;
}

#coffees-container {
    min-width: 50%;
}




