
.coffee {
    margin: 30px;
    display: flex;
    align-items: baseline;
}

.roast {
    margin: 16px;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
