
header {
    text-align: center;
}

hr {
    border-bottom: #6b6a6a;
}

.coffee {
    margin: 30px;
    display: flex;
    align-items: baseline;
}

.roast {
    margin: 16px;
}


.form-container {
}

.main-container {
    display: flex;
}

.coffee-name {
    font-size: x-large;
}

#coffees-container {
    min-width: 50%;
}


